.desktop {
    background-color: #fefafb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .desktop .overlap-wrapper {
    background-color: #fefafb;
    height: 70rem; /* 1024px / 16px */
    overflow: hidden;
    width: 90rem; /* 1440px / 16px */
  }
  
  .desktop .overlap {
    height: 111.125rem; /* 1774px / 16px */
    left: -17.25rem; /* -276px / 16px */
    position: relative;
    top: -17rem; /* -272px / 16px */
    width: 109.4375rem; /* 1751px / 16px */
  }
  
  
  
  .desktop .overlap-group {
    height: 110.875rem; /* 1774px / 16 = 110.875rem */
    left: 0;
    position: absolute;
    top: 0;
    width: 109.4375rem; /* 1751px / 16 = 109.4375rem */
  }
  
  .desktop .blob {
    height: 56.125rem; /* 898px / 16 = 56.125rem */
    left: 0;
    position: absolute;
    top: 0;
    width: 56.125rem; /* 898px / 16 = 56.125rem */
  }
  
  .desktop .div {
    border-radius: 28.06rem; /* 448.99px / 16 = 28.06rem */
    height: 56.125rem; /* 898px / 16 = 56.125rem */
    position: relative;
  }
  
  .desktop .group {
    height: 33.44rem; /* 535px converted to rem */
    left: 14.88rem; /* 238px converted to rem */
    position: absolute;
    top: 15.44rem; /* 247px converted to rem */
    width: 31.44rem; /* 503px converted to rem */
  }
  
  .desktop .overlap-group-2 {
    height: 33.44rem;
    position: relative;
  }
  
  .desktop .ellipse {
    background-color: #ffd600;
    border-radius: 11.14rem; /* 178.29px converted to rem */
    height: 22.31rem; /* 357px converted to rem */
    left: 0;
    position: absolute;
    top: 0.44rem; /* 7px converted to rem */
    width: 22.31rem;
  }
  
  .desktop .ellipse-2 {
    background-color: #ffd600;
    border-radius: 11.14rem; /* 178.29px / 16px = 11.14rem */
    height: 22.31rem; /* 357px / 16px = 22.31rem */
    left: 5.38rem; /* 86px / 16px = 5.38rem */
    position: absolute;
    top: 11.13rem; /* 178px / 16px = 11.13rem */
    width: 22.31rem; /* 357px / 16px = 22.31rem */
  }
  
  .desktop .ellipse-3 {
    background-color: #ffd600;
    border-radius: 11.14rem; /* 178.29px converted to rem */
    height: 22.31rem; /* 357px converted to rem */
    left: 9.18rem; /* 147px converted to rem */
    position: absolute;
    top: 0;
    width: 22.31rem; /* 357px converted to rem */
  }
  
  .desktop .ellipse-4 {
    -webkit-backdrop-filter: blur(9.98rem) brightness(100%);
    backdrop-filter: blur(9.98rem) brightness(100%);
    background-color: #ffffffc9;
    border-radius: 28.06rem; /* 448.99px converted to rem */
    height: 56.13rem; /* 898px converted to rem */
    left: 0;
    position: absolute;
    top: 0;
    width: 56.13rem; /* 898px converted to rem */
  }
  
  .desktop .overlap-group-wrapper {
    height: 56.13rem; /* 898px converted to rem */
    left: 37.31rem; /* 597px converted to rem */
    position: absolute;
    top: 43.13rem; /* 690px converted to rem */
    transform: rotate(-8.58deg); /* -137.32deg converted to rem */
    width: 56.13rem; /* 898px converted to rem */
  }
  
  .desktop .ellipse-5 {
    background-color: #a83aff;
    border-radius: 11.14rem; /* 178.29px converted to rem */
    height: 22.31rem; /* 357px converted to rem */
    left: 0;
    position: absolute;
    top: 0.44rem; /* 7px converted to rem */
    width: 22.31rem; /* 357px converted to rem */
  }
  
  .desktop .ellipse-6 {
    background-color: #a83aff;
    border-radius: 11.14rem; /* 178.29px converted to rem */
    height: 22.31rem; /* 357px converted to rem */
    left: 5.38rem; /* 86px converted to rem */
    position: absolute;
    top: 11.13rem; /* 178px converted to rem */
    width: 22.31rem; /* 357px converted to rem */
  }
  
  .desktop .ellipse-7 {
    background-color: #a83aff;
    border-radius: 11.14rem; /* 178.29px converted to rem */
    height: 22.31rem; /* 357px converted to rem */
    left: 9.18rem; /* 147px converted to rem */
    position: absolute;
    top: 0;
    width: 22.31rem; /* 357px converted to rem */
  }
  
  .desktop .img {
    height: 9.13rem; /* 146px converted to rem */
    left: 19.44rem; /* 311px converted to rem */
    position: absolute;
    top: 29.44rem; /* 467px converted to rem */
    width: 11.25rem; /* 180px converted to rem */
  }
  
  .desktop .rectangle {
    background-color: #ffd600;
    height: 64rem; /* 1024px converted to rem */
    left: 83.44rem; /* 1335px converted to rem */
    position: absolute;
    top: 17rem; /* 272px converted to rem */
    width: 23.81rem; /* 381px converted to rem */
  }
  
  .desktop .text-wrapper {
    color: #000000;
    font-family: "Outfit-ExtraBold", Helvetica;
    font-size: 12.5rem; /* 200px converted to rem */
    font-weight: 800;
    left: 29.88rem; /* 478px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 25.63rem; /* 410px converted to rem */
    white-space: nowrap;
    width: 52.81rem; /* 845px converted to rem */
  }
  
  .desktop .text-wrapper-2 {
    -webkit-text-stroke: 1px #000000;
    color: #000000;
    font-family: "Outfit-Regular", Helvetica;
    font-size: 5.25rem; /* 84px converted to rem */
    font-weight: 400;
    height: 13.63rem; /* 218px converted to rem */
    left: 81.88rem; /* 1310px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 42.56rem; /* 681px converted to rem */
    width: 27.81rem; /* 441px converted to rem */
  }
  
  .desktop .portrait-of-happy {
    height: 29.88rem; /* 478px converted to rem */
    left: 59.5rem; /* 952px converted to rem */
    object-fit: cover;
    position: absolute;
    top: 51.13rem; /* 818px converted to rem */
    width: 46.63rem; /* 746px converted to rem */
  }
  
  .desktop .rectangle-2 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(101.93, 101.64, 94.71) 100%);
    border: 0px none;
    border-radius: 3.13rem; /* 50px converted to rem */
    height: 3.13rem; /* 50px converted to rem */
    left: 45.56rem; /* 729px converted to rem */
    position: absolute;
    top: 59rem; /* 945px converted to rem */
    width: 13.69rem; /* 219px converted to rem */
  }
  
  .desktop .rectangle-3 {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(101.93, 101.64, 94.71) 100%);
    border: 0px none;
    border-radius: 3.44rem; /* 50px converted to rem */
    height: 3.13rem; /* 50px converted to rem */
    left: 45.56rem; /* 729px converted to rem */
    position: absolute;
    top: 53.19rem; /* 851px converted to rem */
    width: 13.94rem; /* 223px converted to rem */
  }
  
  .desktop .mobile-app-store {
    height: 1.81rem !important; /* 29px converted to rem */
    left: 61.13rem !important; /* 974px converted to rem */
    position: absolute !important;
    top: 77.81rem !important; /* 1246px converted to rem */
    width: 6.13rem !important; /* 98px converted to rem */
  }
  
  .desktop .mobile-app-store-badges {
    height: 1.75rem !important; /* 28px converted to rem */
    left: 51rem !important; /* 816px converted to rem */
    position: absolute !important;
    top: 77.81rem !important; /* 1246px converted to rem */
    width: 6rem !important; /* 96px converted to rem */
  }
  
  .desktop .text-wrapper-3 {
    color: #000000;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-size: 1.38rem; /* 22px converted to rem */
    font-weight: 400;
    left: 41.75rem; /* 664px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77.81rem !important; /* 1245px converted to rem */
    white-space: nowrap;
    width: 5.44rem; /* 87px converted to rem */
  }
  
  .desktop .text-wrapper-4 {
    color: #000000;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-size: 1.38; /* 120px converted to rem */
    font-weight: 400;
    left: 31.19rem; /* 499px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77.81rem !important; /* 1245px converted to rem */
    white-space: nowrap;
    width: 7.5rem; /* 120px converted to rem */
  }
  
  .desktop .text-wrapper-5 {
    color: #ffffff;
    font-family: "Outfit-Bold", Helvetica;
    font-size: 2.5rem; /* 40px converted to rem */
    font-weight: 700;
    height: 3.19rem; /* 51px converted to rem */
    left: 84.31rem; /* 1349px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 48.13rem; /* 773px converted to rem */
    width: 22.25rem; /* 356px converted to rem */
  }
  
  .desktop .text-wrapper-6 {
    color: #ffffff;
    font-family: "Outfit-Bold", Helvetica;
    font-size: 1.5rem; /* 24px converted to rem */
    font-weight: 700;
    left: 50.63rem; /* 810px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 53.63rem; /* 858px converted to rem */
    white-space: nowrap;
    width: 4.56rem; /* 73px converted to rem */
  }
  
  .desktop .text-wrapper-7 {
    color: #ffffff;
    font-family: "Outfit-Bold", Helvetica;
    font-size: 1.5rem; /* 24px converted to rem */
    font-weight: 700;
    left: 49.56rem; /* 793px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 59.5rem; /* 952px converted to rem */
    white-space: nowrap;
    width: 6rem; /* 96px converted to rem */
  }
  
  .desktop .text-wrapper-8 {
    color: #000000;
    font-family: "Outfit-Light", Helvetica;
    font-size: 2rem; /* 22px converted to rem */
    font-weight: 300;
    left: 47.13rem; /* 754px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 56.94rem; /* 911px converted to rem */
    white-space: nowrap;
    width: 10.88rem; /* 174px converted to rem */
  }
  
  .desktop .text-wrapper-9 {
    color: #000000;
    font-family: "Outfit-Light", Helvetica;
    font-size: 2rem; /* 32px converted to rem */
    font-weight: 300;
    left: 45.56rem; /* 729px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 49.81rem; /* 797px converted to rem */
    white-space: nowrap;
    width: 13.94rem; /* 223px converted to rem */
  }
  
  .desktop .three-glass-bubbles {
    height: 16.25rem; /* 260px converted to rem */
    left: 87.56rem; /* 1401px converted to rem */
    position: absolute;
    top: 25.63rem; /* 410px converted to rem */
    width: 15.69rem; /* 251px converted to rem */
  }
  
  .desktop .text-wrapper-10 {
    color: #000000;
    font-family: "Roboto-CondensedRegular", Helvetica;
    font-size: 1.38rem; /* 120px converted to rem */
    font-weight: 400;
    left: 21.06rem; /* 337px converted to rem */
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 77.81rem !important; /* 1245px converted to rem */
    white-space: nowrap;
    width: 7.5rem; /* 120px converted to rem */
  }
  
  
  
  
  